.button{
    border-style: none;
    height: 40px;
    padding: 10px 12px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 80px;
}

button.dimgray{
    background-color: dimgray;
  
}

button.green{
    background-color: green;
   
}
